* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  a.le-logo {
    display: inline-block;
    width: 8%;
    height: 50%;
    overflow: hidden;
    border: 3px solid red;
    img {
      width: 100%;
      // img竖直方向显示中间部分
      vertical-align: middle;

      margin: 0 auto;
    }
  }
}
