* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a.le-logo {
  display: inline-block;
  width: 8%;
  height: 50%;
  overflow: hidden;
  border: 3px solid red;
}

.navbar a.le-logo img {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
