@import "tailwindcss";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen m-0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
